
#no-scroll {
  overflow: hidden;
  height: 100vh;
}

#scroll {
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  background-color: #0f172a;
  color: white;
  overflow-x: hidden; 
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #0f172a; 
}

::-webkit-scrollbar-thumb {
  background: #38bdf8; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb; 
}


::selection {
  background: #38bdf8;
  color: #000;
}